body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
}

header {
  margin: 40px 0;
}

.top-margin-large {
  margin-top: 40px;
}

#about {
  margin-top: 10px;
}

.appname {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#elemuname {
  width: 109px;
  height: 31px;
}

.appdesc {
  margin-top: 10px;
  font-size: 20px;
  color: #808080;
  text-align: center;
}

.appscreenshot {
  margin-top: 80px;
}

.about-subtitle {
  margin-top: 20px;
  color: #7f7f7f;
  font-size: 20px;
  text-align: center;
}

.about-title {
  color: #333333;
  font-size: 40px;
  text-align: center;
}

#mail {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ff3333;
}

#mail img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -6px;
}

@media (min-width: 992px) {
  .appname {
    margin-left: 0;
    margin-top: 10px;
  }

  #elemuname {
    width: 164px;
    height: 47px;
  }

  .appdesc {
    font-size: 30px;
    text-align: left;
  }

  .about-subtitle {
    margin-top: 40px;
    font-size: 30px;
  }

  .about-title {
    font-size: 60px;
  }
}
